<h2>Recommended City </h2>

<p><%= @recommended_city %></p>

<h2> All cities weather </h2>
<% for weather in @weather_all_cities %>
	<h3><%= weather["city"] %></h3>
	<p><%= weather["main"] %></p>
	<p><%= weather["description"] %></p>
	<p><%= weather["temp"] %> degs</p>
	<p><%= weather["humidity"] %>%</p>
	<p><%= weather["pressure"] %> hPa</p>
<% end %>	

<%= @get_weather_1 %>
<%= @get_weather_2 %>
<%= @get_weather_5 %>