<h2>Recommended City </h2>

<%= @recommended_city %> 

<h2> All cities weather </h2>
<% for weather in @weather_all_cities %>
	<h3><%= weather["city"] %></h3>
	<p><%= weather["main"] %></p>
	<p><%= weather["description"] %></p>
	<p><%= weather["temp"] %> degs</p>
	<p><%= weather["humidity"] %>%</p>
	<p><%= weather["pressure"] %> hPa</p>
<% end %>	


Max: <%= @avg_temp %>
